<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Watson Speech To Text Test</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/superhero/bootstrap.min.css" rel="stylesheet" integrity="sha384-88w0u/oucDSTE30ETLLIobzhT+bQ6CSsiqQyLZpwHvve89eqUA9F2Db6ST6jGRLx" crossorigin="anonymous">
	<style>
		body {padding-top: 40px;};
	</style>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">SpeechToText</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-top">

				<ul class="nav navbar-nav">
				</ul>

				<ul class="nav navbar-nav navbar-right">
				</ul>

			</div>
		</div>
	</nav>

    <div class="jumbotron">
        <div class="container">
            <h1>Speech To Text</h1>
			<p>IBM Cloud Watson, Speech To Text test</p>
        </div>
    </div>

    <div class="container">
		<div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Youtube Video Url</h3>
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        <input id="youtube_input" type="text" class="form-control" name="url" placeholder="Vidéo URL">
                        <span class="input-group-btn">
                            <button id="youtube_submit" class="btn btn-primary" type="submit">Transcript !</button>
                        </span>
                    </div>
                </div>
            </div>
		</div>
    </div>

    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script>
        var youtubeInput = document.getElementById('youtube_input');
        document.getElementById('youtube_submit').addEventListener('click', function (e) {
            e.preventDefault();

            var youtubeValue = youtubeInput.value;
            if (youtubeValue.indexOf('youtube.com') > -1) {
                // youtube.com url provided
                var youtubeIds = /.*www\.youtube\.com\/watch?.*v=(.*)$/.exec(youtubeValue);
            } else if (youtubeValue.indexOf('youtu.be') > -1) {
                // youtu.be url provided
                var youtubeIds = /.*youtu\.be\/(.*)/.exec(youtubeValue);
            } else {
                // assuming the user provided the video id
                var youtubeIds = [null, youtubeValue];
            }

            window.location = '/youtube/' + youtubeIds[1];
        }, false);
    </script>
</body>
</html>
